{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <div class="home" style="margin-bottom: 30vh;">
    <div class="row" style="margin-top:31vh; ">
      <div class="col-4 col-lg-3" style="color: black; margin: 3% 0;">
       <a class="homemen" href="/products/category/seasonings-12">
        <img src="/static/images/spice1.png" height="50vw" width="50vw"><br>
        Seasonings
       </a>
      </div>
      <div class="col-4 col-lg-2" style="color: black; margin: 3% 0;">
        <a class="homemen" href="/products/category/herbs-and-spices-10">
        <img src="/static/images/spice1.png" height="50vw" width="50vw"><br>
        Hebs And Spices
        </a>
      </div>
      <div class="col-4 col-lg-2" style="color: black; margin: 3% 0;">
        <a class="homemen" href="/products/category/sauces-11">
          <img src="/static/images/spice1.png" height="50vw" width="50vw"><br>
        Sauces
        </a>
        
      </div>
      <div class="col-4 col-lg-2" style="color: black; margin: 3% 0;">
        <a class="homemen" href="/products/category/teas-4">
          <img src="/static/images/spice1.png" height="50vw" width="50vw"><br>
          Teas
        </a>
        
      </div>
      <div class="col-4 col-lg-3" style="color: black; margin: 3% 0;">
        <a class="homemen" href="/products/category/super-foods-3">
          <img src="/static/images/spice1.png" height="50vw" width="50vw"><br>
        Super Foods
        </a>
        
      </div>
    </div>
    
     
    {% if products %}
      <div class="home__featured">
        <h2 class="text-center">{% trans "Featured products" context "Homepage title" %}</h2>
        <div class="row">
          {% include "product/_items.html" %}
        </div>
      </div>
    {% endif %}
    <script type="application/ld+json">{{ webpage_schema|safe }}</script>
  </div>
{% endblock %}
