// GLOBAL
$global-padding: 1rem;
$global-margin: 1rem;
$button-border-radius: 5px;

// COLORS
$body-color: #000000;
$white: #f2f2f2;
$light-gray:none;
$gray: #828282;
$darken-gray: darken($gray, 10%);
$skull-gray: #000000;
$blue: #000000;
$darken-blue: darken($blue, 10%);
$dark-blue: #000000;
$red: #eb5757;
$dark-red: #c53636;
$green: #27ae60;
$beige: #fff;
$turquoise:Black;
$light-turquoise: #000000;

// TYPOGRAPHY
$font-family-sans-serif: "Lato", sans-serif;
$h1-font-size: 3rem;
$h2-font-size: 1.3rem;
$h3-font-size: 1rem;

$theme-colors: (
  primary: #000000,
  secondary: $white,
  success: $green,
  info: #bd2b28,
  warning: #ffc107,
  danger: $red,
  light: #f8f9fa,
  dark: #343a40
);

body{
  background: url("/static/images/back.png");
}
